*{
    margin: 0;
    border: border-box;
    font-family: Arial;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 10px;
    background-image: url("https://img.freepik.com/free-psd/3d-rendering-cybersecurity-background_23-2151703630.jpg");
background-size: cover;
}

.glass{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border: 1px solid rgba(255,255,255,0.19);
box-shadow: 0 8px 32px 0 rgba(255,255,255,0.37);
}
.title{
    font-weight: 100px;
    color: #FFBF00;
    font-size: 80px;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}



h2 {
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin-top: 10px;
    color: #666;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}